<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name ="LogDir" value="C:\temp\AppLogStorage"/>
  <variable name="DefaultLayout" value="${logger} ${machinename} ${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"/>

  <targets>
    <target xsi:type="File" name="file_logger" fileName="${LogDir}/logs/PrftTalentLog.log" encoding="utf-8"
            layout="${DefaultLayout}" maxArchiveFiles="10000" archiveNumbering="Sequence" archiveAboveSize="2097152"
            archiveFileName="PrftTalentLog_{##}.log" ></target>
    <!--<target xsi:type="ColoredConsole" layout="${DefaultLayout}" name="console_logger"/>-->
  </targets>

  <rules>
    <logger name ="*" minlevel ="Trace" writeTo="file_logger"></logger>
    <!--<logger name ="*" minlevel ="Trace" writeTo="console_logger"></logger>-->
  </rules>
</nlog>