<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name ="ServiceLogDir" value="C:\temp\AppLogStorage\Talent\ServiceLog"/>
  <variable name ="RepositoryLogDir" value="C:\temp\AppLogStorage\Talent\RepositoryLog"/>
  <variable name="DefaultLayout" value="${logger} ${machinename} ${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"/>

  <targets>
    <target xsi:type="File" name="service_file_logger" fileName="${ServiceLogDir}/PrftTalentServiceLog.log" encoding="utf-8"
            layout="${DefaultLayout}" maxArchiveFiles="10000" archiveNumbering="Sequence" archiveAboveSize="2097152"
            archiveFileName="PrftTalentServiceLog_{##}.log" ></target>
    <target xsi:type="File" name="repository_file_logger" fileName="${RepositoryLogDir}/PrftTalentRepositoryLog.log" encoding="utf-8"
            layout="${DefaultLayout}" maxArchiveFiles="10000" archiveNumbering="Sequence" archiveAboveSize="2097152"
            archiveFileName="PrftTalentRepositoryLog_{##}.log" ></target>
  </targets>

  <rules>
    <logger name ="Prft.Talent.WebApi.*" minlevel ="Trace" writeTo="service_file_logger"></logger>
    <logger name ="Prft.Talent.Services.*" minlevel ="Trace" writeTo="service_file_logger"></logger>
    <logger name ="Prft.Talent.Data.Repositories.*" minlevel ="Trace" writeTo="repository_file_logger"></logger>
  </rules>
</nlog>