body {
    font-family: Arial;
}


.panel-default>.panel-heading{
    background:#C0392B;
    border-radius: 15px;
}

.panel-group .panel {
    margin-bottom:auto;
    border-radius: 15px;
    border-color:#C0392B;

}

.panel-title{
    color:white;}


.tab{
  float:left; 
  padding-top:20px;
  box-sizing:border-box;
  background:#f9f9f9;
  padding:0px 0px 0px 0px;  
  cursor:pointer;
  transition:background .4s;
}

.form{
     
     margin: 10px 10px 10px 10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #C0392B;
}

