

<form role="form" name="personalInformation" class="form-horizontal" ng-controller="personalInformationController" novalidate>
    
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="FirstName" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">First Name: </label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" placeholder="First Name" name="First Name" ng-model="PersonalInformation.firstName" required validType="text-only" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="LastName" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Last Name: </label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" placeholder="Last Name" validType="text" name="Last Name" ng-model="PersonalInformation.lastName" required/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="DOB" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">D.O.B: </label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="text" name="D.O.B" class="form-control" uib-datepicker-popup="dd-MMM-yyyy"  ng-model="PersonalInformation.DOB" is-open="dob.opened"
                            datepicker-options="dateOptions" required ng-minlength="11" validType="date" ng-maxlength="11" close-text="Close" ng-click="dobDate()" />                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="fatherName" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label ">Father Name: </label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" placeholder="Father Name" name="Father Name" ng-model="PersonalInformation.fatherName" validType="text-only"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="motherName" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label ">Mother Name:</label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" placeholder="Mother Name" name="Mother Name"  ng-model="PersonalInformation.motherName" validType="text-only"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="emailAddress" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Email Address: </label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="email" class="form-control" placeholder="Email Address" name="Email Address" ng-model="PersonalInformation.email" required validType="email"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="contactNumber" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Contact Number: </label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="text" class="form-control"  placeholder="Mobile" name="Contact Number" ng-model="PersonalInformation.mobile" maxlength="10" required validType="number-only"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="alternateContact" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label">Alternate Contact: </label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" placeholder="Alternate Contact Number" name="AlternateContact" ng-model="PersonalInformation.alternateContact"  maxlength="10" validType="number-only"/>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="nationality" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Nationality:</label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <select ng-model="PersonalInformation.nationality">
                        <option value="">--Please Select--</option>
                        <option value="Indian">Indian</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group" ng-show="PersonalInformation.nationality=='Others'">
                <label for="otherNationality" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Others: </label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" placeholder="Other Nationality" name="Others" ng-model="PersonalInformation.nationality" />
                </div>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="actualCTC" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Actual CTC:</label>               
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <input type="number" class="form-control" placeholder="Actual CTC" name="Actual CTC" ng-model="PersonalInformation.actualCTC" required validType="number-only"/>
                    </div>
                
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="expectedCTC" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Expected CTC: </label>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <input type="number" class="form-control" placeholder="Expected CTC" name="Expected CTC" ng-model="PersonalInformation.expectedCTC" required validType="number-only" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="noticePeroid" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Notice Peroid:</label>              
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <input type="number" class="form-control" placeholder="Enter in Days"  maxlength="3" name="Notice Peroid" ng-model="PersonalInformation.noticePeroid" required validType="number-only"/>
                    </div>             
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="Offer" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label">Have Any Offer ?: </label>
                <div class="col-md-2">
                    <input type="checkbox" style="margin:7px"  name="isOffer" ng-model="PersonalInformation.haveoffer" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-if="PersonalInformation.haveoffer">
            <div class="form-group">
                <label for="offerDescription" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Offer Description:</label>                
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <input type="text"  class="form-control" placeholder="Offer Description" name="Offer Description" ng-model="PersonalInformation.offerDescription" validType="text-only"/>
                    </div>              
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xm-12 col-lg-push-10 col-md-push-10 col-sm-push-8">
            <button type="submit" class="btn btn-primary" action="save"><i class="fa fa-save"></i> Save</button>
        </div>
    </div>
</form>
