<form role="form" name="candidateEducationForm" class="form-horizontal" id="candidateEducationForm" ng-controller="candidateEducationController" novalidate>

    <div class="qualification">
        <div data-ng-repeat="EducationalInformation in qualification" ng-model="qual.length">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="Qualification" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Qualification: </label>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <select class="dropdown empty" name="qualification" ng-model="EducationalInformation.DegreeName" required>
                                <option value="Doctorate">Doctorate</option>
                                <option value="PostGraduate">PostGraduate</option>
                                <option value="UnderGraduate">UnderGraduate</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="Course" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Course: </label>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <ol class="form-control nya-bs-select" name="course" title="Select" data-live-search="true" required validType="select"
                                disabled="isProfile" ng-model="EducationalInformation.course" ng-selected="{{EducationalInformation.course}}">
                                <li nya-bs-option="course in Courses | orderBy: 'course' track by course.courseCode" data-value="course.courseName">
                                    <a>
                                        {{course.courseName}}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="Course" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Specialization: </label>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="Specialization" name="Specialization" ng-model="EducationalInformation.specialization" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="University" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">University: </label>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <ol class="form-control nya-bs-select" name="University" title="Select" data-live-search="true" required validType="select"
                                disabled="isProfile" ng-model="EducationalInformation.universityId" ng-selected="{{EducationalInformation.universityId}}">
                                <li nya-bs-option="university in Universities | orderBy: 'university' track by university.id" data-value="university.id">
                                    <a>
                                        {{university.universityName}}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="College" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">College: </label>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <ol class="form-control nya-bs-select" name="college" title="Select" data-live-search="true" required validType="select"
                                disabled="isProfile" ng-model="EducationalInformation.collegeId" ng-selected="{{EducationalInformation.collegeId}}">
                                <li nya-bs-option="college in Colleges | orderBy: 'college' track by college.id" data-value="college.id">
                                    <a>
                                        {{college.collegeName}}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <input type="radio" name="coursetype" />Full Time &nbsp;
                            <input type="radio" name="coursetype" />Part Time &nbsp;
                            <input type="radio" name="coursetype" />Correspondence
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="PassingYear" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">PassingYear: </label>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <select class="dropdown empty" name="passingyr" ng-model="EducationalInformation.PassedOut" required>
                                <option disabled selected>Select</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="Percentage" class="col-lg-5 col-md-5 col-sm-6 col-xs-12 control-label required">Percentage/CGPA: </label>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="Percentage" name="Percentage" ng-model="EducationalInformation.percentage" required />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="pull-right">
                        <div>
                            <button type="submit" class="btn btn-primary" ng-click="save($index)">Save</button>
                            <button class="fa fa-plus-circle remove" ng-click="addNewQualification()"></button>
                            <button class="fa fa-minus-circle remove" ng-click="removeQualification($index)" ng-show="qualification.length>1"></button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
</form>