<form role="form" name="employerInfoForm" class="form-horizontal" ng-controller="employerDetailsController" novalidate>
    <div data-ng-repeat="EmployerDetails in employerInformation" ng-model="employerInformation.length">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="EmployerName" class="col-lg-5 col-md-5 col-sm-6 col-xs-12 control-label required">Employer Name: </label>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <input type="text" tabindex="1" class="form-control" placeholder="Employer Name" name="Employer Name" ng-model="EmployerDetails.empname" required validType="text-only" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="JoinedDate" class="col-lg-5 col-md-5 col-sm-6 col-xs-12 control-label required">Joined Date: </label>
                    <div ng-repeat="dt in EmployerDetails.jdate " class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <input type="text" class="datepicker" tabindex="4" uib-datepicker-popup ng-model="EmployerDetails.joinDate" datepicker-popup="dd/MM/yyyy" is-open="dt.opened" ng-click="open($event,dt)"
                               placeholder="Joined Date" name="JoinedDate" datepicker-options="dateOptions" required validtype="date" ng-minlength="10" ng-maxlength="10" />
                    </div> 
                    <!--<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <input type="text" tabindex="4" name="RelievedDate" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="EmployerDetails.joinDate" is-open="dob.opened"
                               placeholder="Date Of Join" datepicker-options="dateOptions" required ng-minlength="11" validType="date" ng-maxlength="11" close-text="Close" ng-click="joinDate()" />
                    </div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="EmployerAddress" class="col-lg-5 col-md-5 col-sm-6 col-xs-12 control-label">Employer Address: </label>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <textarea class="form-control" tabindex="2" placeholder="Employer Address" name="Employer Address" ng-model="EmployerDetails.employerAddress" validType="alpha-numeric" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="RelievedDate" class="col-lg-5 col-md-5 col-sm-6 col-xs-12 control-label required">Relieved Date: </label>
                    <div ng-repeat="dt in EmployerDetails.rdate " class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <input type="text" tabindex="5" class="datepicker" uib-datepicker-popup ng-model="EmployerDetails.endDate" datepicker-popup="dd/MM/yyyy" is-open="dt.opened" ng-click="open($event,dt)"
                               placeholder="Relieved Date" name="RelievedDate" datepicker-options="dateOptions" required validtype="date" ng-minlength="10" ng-maxlength="10" />
                    </div> 
                    <!--<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <input type="text"tabindex="5" name="RelievedDate" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="EmployerDetails.endDate" is-open="dob.opened"
                               placeholder="Date Of Relieve" datepicker-options="dateOptions" required ng-minlength="11" validType="date" ng-maxlength="11" close-text="Close" ng-click="joinDate()" />
                    </div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Designation"  class="col-lg-5 col-md-5 col-sm-6 col-xs-12 control-label required">Designation: </label>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <input type="text" tabindex="3" class="form-control" placeholder="Designation" name="Designation" ng-model="EmployerDetails.employerName" required validType="text-only" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Reason" class="col-lg-5 col-md-5 col-sm-6 col-xs-12 control-label required">Reason for leaving: </label>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <input type="text" tabindex="6" class="form-control" placeholder="Reason for leaving" name="Reason" ng-model="EmployerDetails.employerName" required validType="text-only" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="PMName" class="col-lg-5 col-md-5 col-sm-6 col-xs-12 control-label required">HR/Project Manager<br /> Name: </label>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <textarea class="form-control" tabindex="7" placeholder="HR/PM Name" name="PMName" ng-model="EmployerDetails.employerAddress" validType="text-only" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="PMInfo" class="col-lg-5 col-md-5 col-sm-6 col-xs-12 control-label required">HR/Project Manager <br />Contact Info: </label>
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <textarea class="form-control" tabindex="8" placeholder="Contact Information" name="ContactInfo" ng-model="EmployerDetails.employerAddress" validType="alpha-numeric" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" tabindex="9" action="save"><i class="fa fa-save"></i> Save</button>
                    <button class="fa fa-plus-circle remove" tabindex="10" ng-click="addEmployerDetails()"></button>
                    <button class="fa fa-minus-circle remove" tabindex="11" ng-click="removeEmployerDetails($index)" ng-show="employerInformation.length>1"></button>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</form>
