<form role="form" class="form-horizontal" id="fileuploadController" ng-controller="fileuploadController" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">Candidate CV</h4>
    </div>
    <div class="row" ng-repeat="document in CandidateDocuments">
       <div class="col-lg-12">
           {{document.documentName}} 
       </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="form-group">
                    <label for="myFileField">Select a file: </label>
                    <input type="file" fileupload-model="candidateCV" class="form-control" id="myFileField" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <button ng-click="uploadFile()" class="btn btn-primary">Upload CV</button>
            </div>
        </div>
    </div>
</form>

