
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h4>New Candidate</h4>    
        </div>
        <div class="panel-body">
            <form role="form" name="personalInformation" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="FirstName" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">First Name </label>
                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="First Name" name="FirstName" ng-model="PersonalInformation.firstName" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="LastName" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 control-label required">Last Name </label>
                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Last Name" name="LastName" ng-model="PersonalInformation.lastName" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <label class="required">D.O.B</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <label class="required"> Email Address</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <input type="email" name="CurrentAddress" ng-model="PersonalInformation.email" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <label class="required">Age</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <input type="number" name="Age" ng-model="PersonalInformation.age" maxlength="2" required />
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <label class="required"> Contact Number</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <input type="number" name="ContactNumber" ng-model="PersonalInformation.mobile" required maxlength="10" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <label class="required">Alternate Contact Number</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <input type="text" name="AlternateContactNumber" ng-model="PersonalInformation.alternateContact" required maxlength="10" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <label class="required"> Nationality</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <!--<input type="text" name="LastName" ng-model="PersonalInformation.Nationality" required />-->
                        <select ng-model="PersonalInformation.nationality" required>
                            <option value="">--Please Select--</option>
                            <option value="1">Indian</option>
                            <option value="2">Others</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-if="PersonalInformation.nationality==2">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <label> Others</label>

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <input type="text" name="OtherNationality" ng-model="PersonalInformation.others" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xm-12">
                        <button type="submit" class="btn btn-primary" action="save">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>