<form name="candidateSkillSetForm" class="form-horizontal" id="candidateSkillSetForm" ng-controller="skillSetController"
      novalidate>
    <div class="skillset">

        <div data-ng-repeat="skill in skillset" ng-model="skill.length">
            <div class="col-sm-3">                
                <ol class="form-control nya-bs-select textbox" name="Skill Set" title="Skill" data-live-search="true" validType="select"
                    disabled="isProfile" ng-model="skill.skillId" ng-selected="{{skill.skillId}}">
                    <li nya-bs-option="skillSet in skillSets | orderBy: 'skillSet' track by skillSet.pk" data-value="skillSet.pk">
                        <a>
                            {{skillSet.code}}
                            <span class="glyphicon glyphicon-ok check-mark"></span>
                        </a>
                    </li>
                </ol>
            </div>

            <div class="col-sm-2">              
                <select class="dropdown" ng-model="skill.isPrimary" ng-options="skillset.value as skillset.name for skillset in register.skillsets"></select>
            </div>

            <div ng-repeat="dt in dates" class="col-sm-2">
                <input id="datePickerItem_{{$parent.$index}}_{{$index}}" type="text" class="datepicker" uib-datepicker-popup="MM/dd/yyyy" 
                       ng-value="skill.sinceLastUsed" ng-model="skill.sinceLastUsed"  is-open="opened[$parent.$index]" ng-click="open($event, $parent.$index)"
                       placeholder="Last Used Date" name="datePickerItem_{{$parent.$index}}_{{$index}}" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'"/>
            </div>
            
            <div class="col-sm-2">
                <span uib-rating ng-model="skill.rating" max="5" min="1"  enable-reset="false"></span>
            </div>

            <div class="col-sm-3">
                <button type="button" class="fa fa-minus-circle remove" ng-click="deleteSkill($index)" ng-show="skillset.length>1" data-toggle="tooltip"
                        data-placement="bottom" title="Delete Skill"></button>
                <button type="button" class="fa fa-floppy-o remove" ng-click="saveSkill($index)" data-toggle="tooltip" data-placement="bottom" title="Save Skill"></button>
                <button type="button" class="fa fa-plus-circle remove" ng-show="$last" ng-click="addNewSkill($index)"
                        data-toggle="tooltip" data-placement="bottom" title="Save and Add New Skill"></button><br /><br />
            </div>
        </div>
    </div>
</form>

