<div>
    <fieldset class="pull left " ng-controller="PrimarySkillSetController">
        <div data-ng-repeat="primaryskill in primaryskills" ng-model="primaryskill.length">
            <input type="text" ng-model="primaryskill.name" name="" placeholder="Primary Skill">
            <input type="text" ng-model="primaryskill.rating" name="" placeholder="Rating" style="width:40px">
            <button class="remove" ng-click="removePrimarySkill($index)" ng-show="primaryskills.length>1">-</button>
            <button class="remove" ng-show="$last" ng-click="addNewPrimarySkill()">+</button>
        </div>
    </fieldset>
    <fieldset class="pull-right" ng-controller="SecondarySkillSetController">

        <div data-ng-repeat="secondaryskill in secondaryskills">
            <input type="text" ng-model="secondaryskill.name" name="" placeholder="Secondary Skill">
            <input type="text" ng-model="secondaryskill.rating" name="" placeholder="Rating" style="width:40px">
            <button class="remove" ng-click="removeSecondarySkill($index)" ng-show="secondaryskills.length>1">-</button>
            <button class="remove" ng-show="$last" ng-click="addNewSecondarySkill()">+</button>
        </div>
    </fieldset>
</div>


