<div ng-controller="PrimarySkillSetController">

    <div data-ng-repeat="primaryskill in primaryskills" ng-model="primaryskill.length" class="skillset">
        <input type="text" class="textbox" ng-model="primaryskill.name" name="" placeholder="Skill">
        <select class="dropdown">
            <option value="Primary">Primary</option>
            <option value="Secondary">Secondary</option>
        </select>        

        <input class="form-control" type="text" datepicker-popup ng-model="primaryskill.date" is-open="examplisOpen" />
        
        <span>

            <input type="text" class="textbox" ng-model="primaryskill.rating" name="" placeholder="Rating">
            <button class="remove" ng-click="removePrimarySkill($index)" ng-show="primaryskills.length>1">-</button>
            <button class="remove" ng-show="$last" ng-click="addNewPrimarySkill()">+</button><br /><br />
        </span>
    </div>


</div>


